Redirects in ITI-105

**Section Number** *Identify the most specific section number the issue occurs (e.g. 4.1.2)*

2:3.105.4.2.3

**Issue** *Describe your issue. Don't write a book, but do include enough to indicate what you see as a problem.*

The following text requires clients to follow redirects:

If the Document Recipient returns an HTTP redirect response (HTTP status codes 301, 302, 303, or 307), the Document Source shall follow the redirect, but may stop processing if it detects a loop. See [RFC7231 Section 6.4 Redirection 3xx](https://tools.ietf.org/html/rfc7231#section-6.4).

Redirecting on a POST transaction might not be safe. The linked RFC states:

"Automatic redirection needs to done with
   care for methods not known to be safe, as defined in [Section 4.2.1](https://www.rfc-editor.org/rfc/rfc7231#section-4.2.1),
   since the user might not wish to redirect an unsafe request."

Where Section 4.2.1 of the RFC defines a safe request as one that is read-only. 

**Proposed Change** *Propose a resolution to your issue (e.g., suggested new wording or description of a way to address the issue). The committee might simply accept your suggested text. Even if they don't, it gives a good sense of what you are looking for. Leaving this blank means you can't imagine how to resolve the issue, which makes it easier for the committee to admit they can't imagine how to resolve it either and leave it unresolved.*

Allow clients to treat 3xx codes as an error. 

**Priority**:
- Medium: Significant issue or clarification. Requires discussion, but should not lead to long debate.


good discussion point. This is not really associated with the Improvements project.

Ah, I see this has been in ITI-65 as well. 